# Food Trends - UK

the most common food purchased and consumed by the general UK Population.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st

In [2]:
#DataFrame

age_path = "../Resources/Exp_AGE_201819.csv"
econ_path = "../Resources/Exp_ECON_201819.csv"
eth_path = "../Resources/Exp_ETH_201819.csv"

df_age = pd.read_csv(age_path)
df_econ = pd.read_csv(econ_path)
df_eth = pd.read_csv(eth_path)

In [3]:
df_age.head()

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <<<<<<< HEAD
Survey_Year hh_categorisation_number hh_categorisation_description Food_code Food_Code_description                 ew:Sum(expenditure_*_household_weight) ew2:Sum(expenditure_squared_*_household_weight_... mw:Sum(members_of_household_*_household_weight) mw2:(Sum(members_of_household_squared_*_househo... ewmw:Sum(expenditure_*_weighted_number_of_house... Combined_hh_categorisation_and_food_code Estimate_of_average_expenditure:0.5*(ew/mw) calc1:ew2/(ew*ew)  calc2:ewmw/(ew*mw)  calc3:mw2/(mw*mw)   standard_error:estimate_of_average_expenditure_...  residual_standard_error:standard_error_*_100/E...
201819      1                        Under 30                      402       UHT whole milk                        264.1                                  69748.81                                           5755.08                                         274339.0194                                        1468.396                                           1_402                                    0.0229449460302898                          1                  0.00193220598149809 0.00828294641715785 0.0230176894177585                                                                   100.317034467515
                                                                   404       Pasteurised or homogenised whole milk 193620.64                              1396411458.7858                                    5755.08                                         274339.0194                                        8305294.6657                                       1_404                                    16.82171577111                              0.0372486126064358 0.0149067176259974  0.00828294641715785 2.94379263717851                                                                     17.4999546849688
                                                                   901       Condensed or evaporated milk          5211                                   10096924.905                                       5755.08                                         274339.0194                                        426680.8875                                        1_901                                    0.452730457265581                           0.371832186065812  0.0284551413452455  0.00828294641715785 0.268473356760451                                                                    59.3009267328702
                                                                   1102      Infant or baby milks - ready to drink 0                                      0                                                  5755.08                                         274339.0194                                        0                                                  1_1102                                   0                                           0                  0                   0.00828294641715785 0                                                                                                   0

In [4]:
# columns to be cleaned

Survey_Year
hh_categorisation_number
ew2:Sum(expenditure_squared_*_household_weight_squared)
mw:Sum(members_of_household_*_household_weight)
mw2:(Sum(members_of_household_squared_*_household_weight_squared)
ewmw:Sum(expenditure_*_weighted_number_of_household_members_*_household_weight)
     
     
(Sum(members_of_household_squared_*_household_weight_squared)
ewmw:Sum(expenditure_*_weighted_number_of_household_members_*_household_weight)
Combined_hh_categorisation_and_food_code

SyntaxError: invalid syntax (4068241344.py, line 8)

In [5]:
#1. What is the most popular food by the Age groups - top 5

popular_food_by_age = cleandf.groupby(["Food Group"]).count() ["Total Amount Consumed"]

plot_pandas = popular_food_by_age.plot.bar(figsize=(6,6), color='b',fontsize = 11)
popular_food_by_age
plt.xlabel("Food Group",fontsize = 8)
plt.ylabel("Total Amount Consumed",fontsize = 8)
plt.title("Popular Foods By Age Group",fontsize = 14)

plt.savefig("../Images/Popular Foods By Age Group.png", bbox_inches = "tight")
plt.tight_layout()
plt.show()

popular_food_by_age

NameError: name 'cleandf' is not defined

In [ ]:
#2. What is the most common food purchased by differant ethnic groups

In [ ]:
#3. Food trend by Socio Economic groups (Part time, Full Time, Unemployed, Retired)

In [ ]:
#4. Food Consumption by Age

In [ ]:
#5. Spend on food by Age Group

In [ ]:
# Most Purchase Foods across all groups

In [ ]:
# Least Purchase Foods across all groups

In [ ]:
#Summaries ..... Most pupalr food group across every single socio economic group

In [ ]:
cleandf['Total Amount Consumed'] = cleandf.loc[:,sum(axis=1)
cleandf['Total Amount Consumed'] = cleandf.sum(numeric_only=True, axis=1)

def sum_by_column(frame, new_col_name, list_of_cols_to_sum):
    frame[new_col_name] = frame[list_of_cols_to_sum].astype(float).sum(axis=1)
    return(frame)
                                               
sum_by_column(cleandf, 'Total Amount Consumed', ['2001-02','2002-03','2003-04','2004-05',])
cleandf.head()